@import url('./base.css');

/* Header */
.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  z-index: 99;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--white);
}

.header__logo {
  width: 45px;
}

.header__logo a {
  display: block;
}

.menu__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 120%;
  transition: all .3s;
}

.menu__link:hover {
  text-decoration: underline;
}

.wallet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.wallet-off {
  background-color: var(--red);
}

.wallet-on {
  background-color: var(--green);
}

.wallet-margin-right {
  margin-right: 10px;
}

/* INTRO */
.section__intro{
  width: 100%;
  padding-top: 150px;
  background: var(--gradient-intro);
}

.title__intro {
  padding-bottom: 10px;
}

.subtitle__intro {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 150%;
  color: var(--green);
}

.subtitle__intro-padding {
  padding-bottom: 10px;
}

.btn__intro {
  margin-top: 35px;
}

.intro__monkey {
  max-width: 500px;
}

/* BANNER GREEN */
.banner-green {
  background-image: url('../img/banner-green.jpg');
}

/* BANNER WHITE */
.banner-rotate{
  width: 103%;
  transform: rotate(353deg) translate(-10px, -100px);
}

.banner-white {
  background-image: url('../img/banner-white.jpg');
}

/* BLOCK CALC */
.section__calc {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
  margin-top: -95px;
}

.section__calc .container {
  position: relative;
}

.section__calc  .wrapper {
  max-width: 1180px;
}

.calc__bg-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--green);
}

.calc__bg-black {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('../img/bg-dark.jpg');
}

.calc__logo-adidas {
  width: 100%;
  max-width: 310px;
  margin-right: 80px;
}

.calc__logo-binance {
  width: 100%;
  max-width: 180px;
  margin-left: 80px;
}

.calc__logo {
  width: 100%;
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.calc__logo-title {
  font-size: 34px;
  line-height: 120%;
  font-weight: bold;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.calc__logo-date {
  display: block;
  font-size: 28px;
  line-height: 120%;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.calc__wrapper {
  width: 100%;
  max-width: 540px;
  padding: 40px 60px;
  background: var(--white-light);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.calc__header-title {
  font-size: 32px;
  line-height: 120%;
  color: var(--blue);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.calc__header-logo {
  display: block;
  width: 38px;
  margin-right: 5px;
}

.calc__header-title-white {
  display: flex;
  align-items: center;
  color: var(--white);
}

.calc__upload {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  background-color: var(--white);
  position: relative;
  margin-bottom: 35px;
}

.upload__content {
  width: 100%;
  max-width: 250px;
  position: relative;
}

.upload__logo {
  width: 40px;
}

.upload__percent {
  display: block;
  font-size: 22px;
  line-height: 120%;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-light);
}

.upload__blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 74%;
  height: 100%;
  background-color: var(--blue);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.upload__blue::before,
.upload__blue::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--blue);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.upload__blue::before {
  right: -12px;
  width: 9px;
}

.upload__blue::after {
  right: -20px;
  width: 5px;
}

.calc__container-title {
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  color: var(--blue);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.calc__wallet {
  padding-top: 30px;
  position: relative;
} 

.calc__wallet-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calc__wallet-label {
  display: block;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: var(--blue);
  padding-bottom: 15px;
}

.wallet__copy {
  display: block;
  width: 100%;
  max-width: 35px;
  position: absolute;
  bottom: 12px;
  right: 15px;
  cursor: pointer;
}

.calc-title-bottom-wrap {
  padding-top: 35px;
}

.calc-title-bottom {
  width: 100%;
  font-size: 22px;
  line-height: 120%;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  padding-bottom: 5px;
}

.calc-title-bottom:last-child {
  padding-bottom: 0;
}

.calc__text-wrap {
  width: 100%;
  padding-top: 10px;
  align-items: flex-start;
}

.calc__min-max {
  display: block;
  padding-bottom: 5px;
  text-align: right;
}

.calc__min-max:last-child {
  padding-bottom: 0;
}

.price-of-one {
  display: block;
}

.calc__input {
  width: 100%;
  height: 100%;
  font-size: 22px;
  line-height: 120%;
  color: var(--black-light);
  padding: 20px 70px 20px 20px;
  background-color: var(--white);
}

.calc__inputs-wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.current-number-wrap {
  width: 60%;
}

.input-color-blue {
  font-size: 18px;
  color: var(--blue);
  padding-right: 20px;
}

.calc__select-wrap {
  width: 36%;
  padding: 17px 20px;
  background-color: var(--white);
  position: relative;
}

.select-result-wrap {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.select-valuta-icon {
  display: block;
  width: 32px;
}

.select-arrow {
  position: absolute;
  top: 65%;
  right: 0;
  transform: translateY(-50%);
  border: 10px solid transparent; 
  border-top: 10px solid var(--blue);
  transition: all .4s;
}

.select-text {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: var(--black-light);
  margin-right: 10px;
}

.select-item-wrap {
  display: none;
  position: absolute;
  top: 98%;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.25);
}

.select-item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color .3s;
}

.select-item:hover {
  background-color: rgba(0,0,0,0.25);
}

.adidas-value-wrap {
  width: 100%;
  margin-top: 15px;
  position: relative;
}

.adidas-value-wrap .input-color-blue {
  padding-right: 100px;
}

.input-adidas-logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--blue);
}

.input-adidas-svg {
  width: 30px;
  margin-left: 5px;
}

/* BANNER BLACK */
.banner-black {
  background-image: url('../img/banner-black.jpg');
}

/* BLOCK VIDEO */
.section__video{
  padding-top: 150px;
  padding-bottom: 130px;
}

.video__container {
  max-width: 580px;
}

.video__container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__title {
  padding-bottom: 35px;
}

/* FOOTER */
.footer {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid var(--white);
}

.footer__logo {
  max-width: 45px;
}

.footer__link-wrap .footer__link:first-child{
  padding-left: 0;
}

.footer__link {
  font-weight: 300;
  padding-left: 60px;
  transition: all .3s;
}

.footer__link:hover {
  text-decoration: underline;
}


/* ACTIVE */
.select-item-wrap.active {
  display: block;
}

.select-arrow.active {
  transform: rotate(180deg);
  top: 0;
}

.price-of-one.active {
  display: block;
}

/* REMOVE */
.remove {
  display: none;
}

/* DONE */
.done {
  display: none;
}

.wallet__copy.active .done {
  display: block;
  margin-bottom: 3px;
}

.wallet__copy.active svg {
  display: none;
}

/* ATTRIBUTES */
/* .price-of-one[data-price-one="BNB"],
.price-of-one[data-price-one="BTC"],
.price-of-one[data-price-one="ETH"] {
  display: none;
} */

.price-of-one {
  display: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 1336px) {
  .intro__monkey {
    max-width: 400px;
  }
  .section__banner {
    height: 85px;
  }
  .banner-rotate {
    transform: rotate(355deg) translate(-15px, -100px);
  }
  .section__calc {
    margin-top: -85px;
  }
}

@media only screen and (max-width: 1220px) {
  .section__calc {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .calc__logo-adidas {
    margin: 0;
  }
  .calc__logo-binance {
    margin-left: 10px;
  }
  .calc__logo-title {
    font-size: 26px;
    padding-bottom: 5px;
  }
  .calc__logo-date {
    font-size: 22px;
  }
  .calc__bg-green {
    width: 55%;
  }
  .calc__bg-black {
    width: 45%;
  }
  .section__video {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .video__title {
    max-width: 360px;
  }
  .section__video .container {
    justify-content: center;
  }
}

@media only screen and (max-width: 1120px) {
  .section__intro {
    padding-top: 130px;
  }
  .intro__monkey {
    max-width: 365px;
  }
  .title {
    font-size: 48px;
  }
  .subtitle__intro {
    font-size: 20px;
  }
  .btn__intro {
    margin-top: 25px;
  }
  .calc__wrapper {
    max-width: 510px;
    padding: 40px 50px;
  }
  .calc__logo-title {
    font-size: 22px;
  }
  .calc__logo {
    max-width: 70px;
    margin-bottom: 15px;
  }
  .calc__logo-date {
    font-size: 18px;
  }
  .calc__header-title {
    justify-content: center;
    font-size: 28px;
  }
  .calc__header-logo {
    margin-left: 5px;
  }
  .calc__container-title {
    font-size: 14px;
  }
  .calc__logo-binance {
    max-width: 100px;
    margin-left: 25px;
  }
  .calc__logo-adidas {
    max-width: 210px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .section__intro {
    padding-top: 110px;
  }
  .intro__monkey {
    max-width: 300px;
  }
  .title {
    font-size: 38px;
  }
  .subtitle__intro {
    font-size: 16px;
  }
  .btn__intro {
    margin-top: 20px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 16px;
  }
  .banner-rotate {
    width: 105%;
    transform: rotate(352deg) translate(-15px, -65px);
  }
  .section__banner {
    height: 65px;
  }
  .section__calc {
    margin-top: -65px;
  }
  .calc__logo-title {
    font-size: 18px;
  }
  .calc__logo-date {
    font-size: 16px;
  }
  .calc__wrapper {
    padding: 20px 30px;
  }
  .calc__header-title {
    font-size: 22px;
  }
  .upload__blue {
    width: 70%;
  }
  .calc__upload {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .upload__content {
    max-width: 65%;
  }
  .calc__wallet {
    padding-top: 20px;
  }
  .calc__wallet-input {
    font-size: 16px;
    padding-right: 60px;
  }
  .wallet__copy {
    max-width: 30px;
    bottom: 10px;
  }
  .calc-title-bottom-wrap {
    padding-top: 20px;
  }
  .calc-title-bottom {
    font-size: 18px;
    padding-bottom: 0;
  }
  .video__container {
    max-width: 450px;
  }
  .section__video {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footer__link {
    padding-left: 30px;
  }
  .input-color-blue {
    font-size: 16px;
  }
  .select-valuta-icon {
    width: 25px;
  }
  .select-text {
    font-weight: 500;
  }
  .select-arrow {
    border: 8px solid transparent;
    border-top: 10px solid var(--blue);  
  }
  .current-number-wrap {
    width: 55%;
  }
  .calc__select-wrap {
    width: 42%;
  }
}

@media only screen and (max-width: 768px) {
  .header__row {
    padding: 15px 0;
  }
  .header__logo {
    width: 30px;
  }
  .menu__link {
    font-size: 14px;
  }
  .section__intro {
    overflow: hidden;
    position: relative;
    padding-top: 85px;
  }
  .section__intro::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--gradient-black-intro)
  }
  .section__intro .container {
    flex-direction: column;
    position: relative;
  }
  .intro__content{
    width: 100%;
    max-width: 360px;
    padding-bottom: 440px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle__intro-padding {
    padding-bottom: 0px;
  }
  .btn__intro {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
    max-width: 310px;
  }
  .intro__monkey {
    width: 100%;
    max-width: 330px;
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section__banner {
    height: 55px;
  }
  .banner-rotate {
    transform: rotate(356deg) translate(-15px, -23px);
  }
  .btn {
    padding-top: 20px;
    padding-bottom: 20px; 
  }
  .section__calc {
    padding-top: 70px;
    margin-top: -55px;
  }
  .calc__bg-green {
    display: none;
  }
  .calc__bg-black {
    width: 100%;
  }
  .calc__logo-binance {
    display: none;
  }
  .calc__logo {
    max-width: 90px;
  }
  .calc__logo-adidas {
    max-width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }
  .calc__logo-title {
    font-size: 26px;
  }
  .calc__logo-date {
    font-size: 20px;
  }
  .section__calc {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .calc__wrapper {
    max-width: 100%;
    background: var(--gradient-calc-blue);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .calc__header-title{
    justify-content: center;
    padding-bottom: 20px;
    color: var(--white);
  }
  .calc__header-logo {
    width: 30px;
  }
  .upload__logo {
    width: 35px;
  }
  .calc__select-wrap {
    background-color: transparent;
    border: 1px solid var(--white);
  }
  .calc__container-title {
    color: var(--blue-light);
  }
  .input-color-blue {
    font-size: 18px;
  }
  .calc__input {
    background-color: transparent;
    border: 1px solid var(--white);
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--white);
  }
  .select-result-wrap {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .select-text {
    margin-right: 0;
    margin-left: 10px;
  }
  .select-result-wrap .select-text  {
    color: var(--white);
  }
  .select-item {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .select-arrow {
    border-top-color: var(--white);
  }
  .section__calc .wrapper {
    flex-direction: column;
  }
  .input-adidas-logo {
    color: var(--white);
  }
  .input-adidas-svg svg {
    fill: var(--white);
  }
  .price-of-one,
  .calc__min-max {
    font-size: 14px;
  }
  .wallet__copy {
    max-width: 26px;
    bottom: 9px;
  }
  .wallet__copy svg {
    fill: var(--white);
  }
  .video__container {
    max-width: 375px;
  }
  .video__title {
    max-width: 205px;
    padding-bottom: 20px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__row {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 620px) {
  .section__video .container {
    flex-direction: column;
  }
  .video__container {
    max-width: 410px;
  }
  .section__video {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .video__title {
    max-width: 100%;
    padding-bottom: 15px;
  }
  .video__title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .title {
    font-size: 28px;
  }
  .subtitle__intro {
    font-size: 14px;
  }
  .calc__select-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__link {
    padding-left: 15px;
  }
}
